$cellHeight: 10vh;
// $cellHeight: 40px;
$rowGap: 1px;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

@mixin invisibleInput {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.className {
    display: grid;
    grid-template-columns: 1fr auto;
}

.machine {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    row-gap: 16px;
}

.labelList {
    place-self: end;
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
    color: white;
    font-family: "Monoton", cursive;

    & > * {
        height: $cellHeight;
        display: grid;
        place-content: center;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
}

.lamp {
    $lamp: &;

    &__input {
        @include invisibleInput;

        &:checked + #{$lamp}__content {
            //background-color: #ff5b06;
            /* moving note selector*/

            content: "";
            background-color: rgb(3, 121, 232);
            position: absolute;
            height: 71vh;
            width: 100px;
            opacity: 0.3;
            margin: 0 auto;
            transition: background-color 0.1s;
        }
    }

    &__content {
        /**** Lamp dots ****/
        width: 14px;
        height: 0px;
        // border-radius: 8px;
        // background-color: #f5f2f2;
        //margin: 0 8px;
        margin: 0 43px;
    }
}

.cellList {
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
}

.row {
    display: flex;
    column-gap: 1px;
}

.cell {
    $cell: &;
    cursor: pointer;

    &__input {
        @include invisibleInput;

        &:checked + #{$cell}__0 {
            background-color: #41a9f8;
        }

        &:checked + #{$cell}__1 {
            background-color: #09c00f;
        }
        &:checked + #{$cell}__2 {
            background-color: #c02109;
        }
        &:checked + #{$cell}__3 {
            background-color: #f0f805;
        }
        &:checked + #{$cell}__4 {
            background-color: #c309e8;
        }
        &:checked + #{$cell}__5 {
            background-color: #e80945;
        }
        &:checked + #{$cell}__6 {
            background-color: #0914e8;
        }

        &:focus-visible + #{$cell}__content {
            outline: solid 4px #90cdf4;
            outline-offset: 2px;
        }
    }

    &__content {
        // width: 30px;
        // min-width: 30px;
        width: 100px;
        height: $cellHeight;
        border-radius: 3px;
        background-color: #f3f1f1;
    }
}

.fader {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.controls {
    display: flex;
    align-items: center;
    column-gap: 16px;
    grid-column: 2;
    font-family: "Monoton", cursive;
    color: white;
}

.button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: #005da5;
    color: white;
    width: 80px;
    line-height: 2;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color 0.3s;

    &:hover {
        background-color: #4281b2;
    }
}
