.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 6rem; */
    min-height: 100vh;
    background-color: #59bdf3;
}

.title {
    color: white;
    font-size: 5rem;
    text-shadow: 1px 1px 10px rgb(37, 36, 36);
    padding-top: 1em;
}

.buttons {
    padding-top: 7em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.buttons > button {
    padding: 2em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: white;
    box-shadow: 1px 5px 2px black;
}

.buttons > button:hover {
    box-shadow: 1px 5px 2px rgb(247, 245, 245);
    cursor: pointer;
}
