.piano__container {
    margin: 0;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #59bdf3;
    background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}

.piano {
    display: flex;
}

.piano div > p {
    font-size: 1.8rem;
}

.piano div > p {
    font-size: 1.8rem;
}

.piano div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    width: 90px;
    height: 360px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px -15px 0px -15px);

    /* position and left properties required to bring element out from edge of parent
    so that shadow can be seen; margin-left would also achieve the same thing */
    position: relative;
    left: -1px;
}

.black {
    --width: 56px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
    box-shadow: 0 0 10px 5px rgba(141, 140, 140, 0.75);
    clip-path: inset(0px -15px 0px -15px);

    /* position and left properties required to bring element out from edge of parent
    so that shadow can be seen; margin-left would also achieve the same thing */
    position: relative;
    left: -1px;
}

.volume__bar {
    display: flex;
    justify-content: center;
}

.volume__bar__items {
    display: flex;
    width: 20%;
    margin-block: 1em;
}

.blackLetters {
    color: white;
}
.blackLetters,
.whiteLetters {
    opacity: 0;
}

.blackLetters.help,
.whiteLetters.help {
    opacity: 1;
}

.showHelp {
    font-size: 1.2rem;
    border-radius: 0% 0% 50px 0%;
    padding: 1.5em;
    background-color: white;
    font-weight: bold;
    opacity: 0.9;
}

.showHelp:hover {
    opacity: 1;
    cursor: pointer;
}
